.card-header-action.btn-outline-danger {
    color: #f86c6b;
}

.card-header-action.btn-outline-danger:hover {
    color: #ffffff;
}

.card-header-action.btn-outline-primary {
    color: #20a8d8;
}

.card-header-action.btn-outline-primary:hover {
    color: #ffffff;
}

.card-header-action.btn-outline-success {
    color: #4dbd74;
}

.card-header-action.btn-outline-success:hover {
    color: #ffffff;
}

.card-header-action.btn-outline-warning {
    color: #ffc107;
}

.card-header-action.btn-outline-warning:hover {
    color: #23282c;
}

.fa-border-circle {
    border-radius: 60px;
    border: 2px solid;
}

.fa-border-circle.fa-times.fa-danger {
    padding: 3px;
    color: #f86c6b;
}

.color-black {
    color: #000000;
}
