// Here you can add other styles
.color-black {
    color: #000000;
}

@import "card-header-actions";
@import "notifications";
@import "page-title";
@import "pagination";
@import "placeholder-shimmer";

@media only screen and (max-width: 480px) {
	.main .container-fluid {
		padding: 0 10px;
	}

	.breadcrumb {
		margin-bottom: 1rem;
	}
}
